[submodule "nectar"]
	path = nectar
	url = git@github.com:eduramofo/nectar.git
	branch = main

[submodule "nectar-client"]
	path = nectar-client
	url = git@github.com:eduramofo/nectar-client.git
	branch = main

[submodule "spectra"]
	path = spectra
	url = git@github.com:eduramofo/spectra.git
	branch = main

[submodule "pollen"]
	path = pollen
	url = git@github.com:eduramofo/pollen.git
	branch = main

[submodule "hive"]
	path = hive
	url = git@github.com:eduramofo/hive.git
	branch = main

[submodule "honeycomb"]
	path = honeycomb
	url = git@github.com:eduramofo/honeycomb.git
	branch = main
